<h1 mat-dialog-title>Add new food</h1>
<!-- <div mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="foodName" matInput placeholder="Ex. Banana" />
            <mat-error *ngIf="fControl['foodName'].errors">Name cannot be empty!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Brand</mat-label>
            <input formControlName="brand" matInput placeholder="Ex. Valio" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Food Category</mat-label>
            <mat-select formControlName="category" name="category">
                <mat-option *ngFor="let category of foodCategories" [value]="category.value">
                    {{ category.value }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="fControl['category'].errors">Fill category</mat-error>
        </mat-form-field>
        <h3 mat-dialog-title>Nutrition facts per <b>100g</b> :</h3>
        <mat-form-field class="nutrition-fact-field" appearance="outline">
            <mat-label>Calories</mat-label>
            <input formControlName="calories" class="number-input" matInput type="number" />
            <div class="unit" matSuffix><b>kcal</b></div>
            <mat-error *ngIf="fControl['calories'].errors">Fill amount of calories</mat-error>
        </mat-form-field>
        <mat-form-field class="nutrition-fact-field" appearance="outline">
            <mat-label>Total Fat</mat-label>
            <input formControlName="totalFat" class="number-input" matInput type="number" />
            <div class="unit" matSuffix><b>g</b></div>
            <mat-error *ngIf="fControl['totalFat'].errors">Fill amount of fat</mat-error>
        </mat-form-field>
        <mat-form-field class="nutrition-fact-field" appearance="outline">
            <mat-label class="tabbed">Saturated Fat</mat-label>
            <input formControlName="saturated" class="number-input tabbed" matInput type="number" />
            <div class="unit" matSuffix><b>g</b></div>
        </mat-form-field>
        <mat-form-field class="nutrition-fact-field" appearance="outline">
            <mat-label>Total Carbohydrate</mat-label>
            <input formControlName="totalCarb" class="number-input" matInput type="number" />
            <div class="unit" matSuffix><b>g</b></div>
            <mat-error *ngIf="fControl['totalCarb'].errors">Fill amount of carbohydrates</mat-error>
        </mat-form-field>
        <mat-form-field class="nutrition-fact-field" appearance="outline">
            <mat-label class="tabbed">Total Sugars</mat-label>
            <input
                formControlName="totalSugar"
                class="number-input tabbed"
                matInput
                type="number"
            />
            <div class="unit" matSuffix><b>g</b></div>
        </mat-form-field>
        <mat-form-field class="nutrition-fact-field" appearance="outline">
            <mat-label>Dietary Fiber</mat-label>
            <input formControlName="fiber" class="number-input" matInput type="number" />
            <div class="unit" matSuffix><b>g</b></div>
        </mat-form-field>
        <mat-form-field class="nutrition-fact-field" appearance="outline">
            <mat-label>Protein</mat-label>
            <input formControlName="protein" class="number-input" matInput type="number" />
            <div class="unit" matSuffix><b>g</b></div>
            <mat-error *ngIf="fControl['protein'].errors">Fill amount of protein</mat-error>
        </mat-form-field>
        <mat-form-field class="nutrition-fact-field" appearance="outline">
            <mat-label>Calcium</mat-label>
            <input formControlName="calcium" class="number-input" matInput type="number" />
            <div class="unit" matSuffix><b>g</b></div>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close="">Close</button>
    <button mat-raised-button color="primary" style="margin-left: 8px" (click)="addFood()">
        {{ actionBtn }}
    </button>
</div> -->
