<mat-card>
    <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginFormGroup">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="userName" matInput />
            <mat-error *ngIf="fControl['userName'].errors">Fill username!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
            <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
            <mat-error *ngIf="fControl['password'].errors">Fill password!</mat-error>
        </mat-form-field>
        <span>Don't have account? <a routerLink="/auth/register">Create one</a></span>
    </form>
    <mat-card-actions [align]="'end'">
        <button mat-raised-button color="accent">Sign in</button>
    </mat-card-actions>
</mat-card>
