* {
    &:active,
    :focus {
        outline: none !important;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h2,
p {
    padding: 16px;
}

.mat-tooltip {
    font-size: 15px !important;
}