<div class="content mat-app-background">
    <mat-toolbar color="primary">
        <button mat-icon-button class="food-icon" aria-label="Food icon-button with menu icon">
            <mat-icon>fastfood</mat-icon>
        </button>
        <span>{{ title }}</span>
        <span class="toolbar-spacer"></span>
        <mat-icon class="mr-8">brightness_5</mat-icon>
        <mat-slide-toggle [formControl]="toggleControl" class="mr-8"> </mat-slide-toggle>
        <mat-icon>bedtime</mat-icon>
    </mat-toolbar>

    <div class="add-button">
        <button mat-raised-button color="accent" (click)="openFoodDialog()">Add new food</button>
    </div>

    <div class="table-container">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Kiwi" #input />
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- Name Column -->
                <ng-container matColumnDef="foodName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let row">{{ row.foodName }}</td>
                </ng-container>

                <!-- Brand Column -->
                <ng-container matColumnDef="brand">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
                    <td mat-cell *matCellDef="let row">{{ row.brand }}</td>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                    <td mat-cell *matCellDef="let row">{{ row.category }}</td>
                </ng-container>

                <!-- Calories Column -->
                <ng-container matColumnDef="calories">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Calories</th>
                    <td mat-cell *matCellDef="let row">{{ row.calories }}</td>
                </ng-container>

                <!-- Fat Column -->
                <ng-container matColumnDef="totalFat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Fat</th>
                    <td mat-cell *matCellDef="let row">{{ row.totalFat }}</td>
                </ng-container>

                <!-- Carbs Column -->
                <ng-container matColumnDef="totalCarb">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Carbs</th>
                    <td mat-cell *matCellDef="let row">{{ row.totalCarb }}</td>
                </ng-container>

                <!-- Protein Column -->
                <ng-container matColumnDef="protein">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Protein</th>
                    <td mat-cell *matCellDef="let row">{{ row.protein }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">
                        No data matching the filter "{{ input.value }}"
                    </td>
                </tr>
            </table>
            <mat-paginator
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page of users"
            ></mat-paginator>
        </div>
    </div>
    <!-- <h1>Buttons</h1>

    <div fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button color="primary">
        Open Dialog
      </button>

      <button mat-raised-button color="accent">
        Accent button
      </button>

      <button mat-raised-button color="warn">
        Warn button
      </button>
    </div>

    <br><br>

    <h1>Input</h1>

    <mat-form-field>
      <input matInput placeholder="Enter some information">
    </mat-form-field>

    <br><br>

    <h1>Checkbox</h1>

    <mat-checkbox>Check this box!</mat-checkbox>

    <br><br>

    <h1>Expansion panel</h1>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>


    <br><br>



  </div>
  <div fxFlex="50">
    <h1>A card</h1>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu 2</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu 3</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div> -->
</div>
