.mat-app-background {
    min-height: 100vh;
	// height: 100%;
}




// your-products
.page-title {
    text-align: center;
    margin: 0;
}
.add-button {
    width: 130px;
    margin: 30px auto;
}

.page-container {
    margin: 50px auto;
    max-width: 1200px;
}

.filter-field {
    display: block;
}

.table-container {
    position: relative;
    max-height: 500px;
    overflow: auto;
}

//From website
table {
    width: 100%;
}

tr.mat-row {
    height: 50px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
