.toolbar-spacer {
    flex: 1 1 auto;
  }

mat-toolbar {
    position: fixed;
    z-index: 1000;
}

.flex-stretch {
    flex: 1 0 auto;
}

.content {
    padding: 72px 16px 16px 16px;
    min-height: 100vh;
}

mat-card {
    max-width: 400px;
}

.add-new-food-button {
    margin-left: 10px;
}