.toolbar-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    // position: fixed;
    // z-index: 1000;
}

.flex-stretch {
    flex: 1 0 auto;
}

.content {
    // padding: 72px 16px 16px 16px;
    min-height: 100vh;
    background-color: aquamarine;
}

.add-button {
    width: 119px;
    margin: 20px auto;
}

.table-container {
    margin: 0 auto;
    max-width: 1200px;
}

//From website
table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
