<mat-card>
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form [formGroup]="registerFormGroup">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="userName" matInput />
            <mat-error *ngIf="fControl['userName'].errors">Fill username!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
            <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
			<mat-error *ngIf="fControl['password'].errors">
                Min 6 marks
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input formControlName="confirmPassword" matInput [type]="'password'" />
            <mat-error *ngIf="fControl['confirmPassword'].errors">
                Passwords do not match
            </mat-error>
        </mat-form-field>
        <span>Already have account? <a routerLink="/auth/login">Sign in</a></span>
    </form>
    <mat-card-actions [align]="'end'">
        <button mat-raised-button color="accent" (click)="register(user)">Sign up</button>
    </mat-card-actions>
</mat-card>
