.page-container {
    margin: 50px auto;
    max-width: 1200px;
}

.page-title {
    text-align: center;
    margin: 0;
}

.filter-field {
    display: block;
}

.table-container {
    position: relative;
    max-height: 500px;
    overflow: auto;
}

table {
    width: 100%;
}

tr.mat-row {
    height: 50px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.add-button {
    width: 130px;
    margin: 30px auto;
}

.mat-column-calories,
.mat-column-totalFat,
.mat-column-totalCarb,
.mat-column-protein,
.mat-column-action {
    word-wrap: break-word !important;
    flex: 0 0 9% !important;
    width: 9% !important;
    word-wrap: break-word;
}

