<div class="page-container" @fadeOut>
    <h1 class="page-title">List of your products</h1>
    <mat-form-field class="filter-field">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Kiwi" #input />
    </mat-form-field>

    <div class="mat-elevation-z8">
        <div class="table-container">
            <table mat-table [dataSource]="foodDataSource" matSort>
                <ng-container matColumnDef="foodName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let row">{{ row.foodName }}</td>
                </ng-container>

                <ng-container matColumnDef="brand">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
                    <td mat-cell *matCellDef="let row">{{ row.brand }}</td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                    <td mat-cell *matCellDef="let row">{{ row.category }}</td>
                </ng-container>

                <ng-container matColumnDef="calories">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Calories (kcal)</th>
                    <td mat-cell *matCellDef="let row">{{ row.calories }}</td>
                </ng-container>

                <ng-container matColumnDef="totalFat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Fat (g)</th>
                    <td mat-cell *matCellDef="let row">{{ row.totalFat }}</td>
                </ng-container>

                <ng-container matColumnDef="totalCarb">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Carbs (g)</th>
                    <td mat-cell *matCellDef="let row">{{ row.totalCarb }}</td>
                </ng-container>

                <ng-container matColumnDef="protein">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Protein (g)</th>
                    <td mat-cell *matCellDef="let row">{{ row.protein }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" (click)="editFood(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            style="margin-left: 0"
                            color="warn"
                            (click)="deleteFood(row.id)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                    matTooltip="Nutrition facts are per 100g"
                    matTooltipPosition="above"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">
                        No products matching the filter "{{ input.value }}"
                    </td>
                </tr>
            </table>
        </div>
        <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of products"
        ></mat-paginator>
    </div>

    <div class="add-button">
        <button mat-raised-button color="accent" (click)="openFoodDialog()">Add new product</button>
    </div>
</div>